{%load staticfiles%}

<div class="modal fade" id="commerceModal" tabindex="-1" role="dialog" aria-labelledby="commerceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="text-center">
          <h3 class="modal-title title" id="commerceModalLabel">Commerce Economics and Finance</h3>
        </div>
             <!---->
      </div>
      <div class="modal-body">
          <div class="row text-center">
              <div class="col-md-12">
                  <a href="/intern/apply/com_com" class=" btn btn-primary btn-block">Commerce</a>
                  <a href="/intern/apply/com_eco" class=" btn btn-primary btn-block">Economics</a>
                  <a href="/intern/apply/com_fin" class=" btn btn-primary btn-block">Finance</a>
                  
              </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>