{%extends 'intern/notice.html'%}

{%block notice%}
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <p class="text-warning"><b>After changing email your account will be deactivated. You will have to activate it again. All data will be retained.</b></p>
    </div>
</div>
<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
						<div class="card ">
							<form id="email-form" class="form" method="post" action="{% url 'login' %}">
								
								{%for message in messages%}
                                <div class="alert alert-danger">
                                    <div class="container-fluid">
	                                     <div class="alert-icon">
	                                        <i class="material-icons">error_outline</i>
	                                      </div>
	                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
	                                      </button>
                                          <b>Error Alert:</b> {{message}}
                                        </div>
                                    </div>
                                {%endfor%}
                                {%if form.errors%}
                                    <div class="alert alert-danger">
                                        <div class="container-fluid">
	                                      <div class="alert-icon">
	                                        <i class="material-icons">error_outline</i>
	                                      </div>
	                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
	                                      </button>
                                           <ul>
                                          {%for field in form%}
                                            
                                            {%for error in field.errors%}
                                            <li>{{field.label}} - {{error}}</li>
                                            {%endfor%}
                                            
                                            {%endfor%}
                                                </ul>
                                        </div>
                                    </div>
                                {%endif%}
								<div class="content">

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
										{{form.email}}
									</div>

									
									

                                    {%csrf_token%}
									<!-- If you want to add a checkbox to this form, uncomment this code

									<div class="checkbox">
										<label>
											<input type="checkbox" name="optionsCheckboxes" checked>
											Subscribe to newsletter
										</label>
									</div> -->
								</div>
								<div class="footer text-center">
									<button type="submit" class="btn btn-primary btn-lg">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>

{%endblock%}