<p>Dear <strong>{{name}}</strong>,</p>
<p>Thank you for showing interest in YUVA internship programme,<br />
in one of our associated institutions/organisations.<br />
Please send your updated CV and a brief write up in 200 words,
explaining how this internship will be beneficial for you at <a href="mailto:yuva.vision.action@gmail.com">yuva.vision.action@gmail.com</a><br />
If selected, We will let you know about the organisation,<br />
you will be placed with in due course of time.</p><br />

<p>You have applied for <strong>{{area}} internship in {{field}} field.</strong></p>
	
<p><strong>Registration Information : </strong><br /></p>
<p>Registration No. : <strong>{{reg_no}}</strong><br />
Name : {{name}}<br />
Phone No : {{phone}}<br />
College : {{college}}<br />
Course : {{course}}<br />
University : {{university}}<br />
Area of residence : {{city}}</p><br />


<p>If you have any further questions on the internship,<br />
please do not hesitate to contact us at<a href="mailto:yuva.vision.action@gmail.com">yuva.vision.action@gmail.com</a><br />
For further updates you can visit our <a href="https://www.facebook.com/YouthUnitedForVisionAndAction/">Facebook page here (Tap Here)</a></p><br />

<p>Kind Regards<br />Team YUVA</p>