{%load staticfiles%}
	<meta charset="utf-8" />
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>YUVA Internship Programme</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="YUVA Internship Programme offering an opportunity to intern and learn.">
    <meta name="keywords" content="YUVA 2018 Internship programme yuva yuvaa delhi youth conference technology">
<meta property="og:url" content="http://yuvainternship.com/" />
<meta property="og:site_name" content="YUVA Internship Programme" />
<meta property="article:author" content="https://www.facebook.com/yksmbkkr" />
<meta property="article:tag" content="yuva" />
<meta property="article:tag" content="Internship Programme" />
<meta property="article:tag" content="Intern" />
<meta property="article:tag" content="youth" />
<meta property="article:tag" content="Delhi" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'intern/assets/img/apple-touch-icon-57x57.png' %}" />

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'intern/assets/img/apple-touch-icon-114x114.png' %}" />

<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'intern/assets/img/apple-touch-icon-72x72.png' %}" />

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'intern/assets/img/apple-touch-icon-144x144.png' %}" />

<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'intern/assets/img/apple-touch-icon-60x60.png' %}" />

<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'intern/assets/img/apple-touch-icon-120x120.png' %}" />

<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'intern/assets/img/apple-touch-icon-76x76.png' %}" />

<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'intern/assets/img/apple-touch-icon-152x152.png' %}" />

<link rel="icon" type="image/png" href="{% static 'intern/assets/img/favicon-196x196.png' %}" sizes="196x196" />

<link rel="icon" type="image/png" href="{% static 'intern/assets/img/favicon-96x96.png' %}" sizes="96x96" />

<link rel="icon" type="image/png" href="{% static 'intern/assets/img/favicon-32x32.png' %}" sizes="32x32" />

<link rel="icon" type="image/png" href="{% static 'intern/assets/img/favicon-16x16.png' %}" sizes="16x16" />

<link rel="icon" type="image/png" href="{% static 'intern/assets/img/favicon-128.png' %}" sizes="128x128" />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="{% static 'intern/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'intern/assets/css/material-kit.css' %}" rel="stylesheet"/>
    <link href="{% static 'intern/assets/css/custom.css' %}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

   {%if form.errors%}
    <script type="text/javascript">

    $(document).ready(function(){

        $("#contactus").modal('show');

    });

    </script>


    {%endif%}
    {%if messages%}
    <script type="text/javascript">

    $(document).ready(function(){

        $("#contactus").modal('show');

    });

    </script>


    {%endif%}


