{%load staticfiles%}

<div class="modal fade" id="lawModal" tabindex="-1" role="dialog" aria-labelledby="lawModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="text-center">
          <h3 class="modal-title title" id="lawModalLabel">Law</h3>
        </div>
             
      </div>
      <div class="modal-body">
          <div class="row text-center">
              <div class="col-md-12">
                  <a href="/intern/apply/law_lit" class=" btn btn-primary btn-block">Litigation</a>
                  <a href="/intern/apply/law_cor" class=" btn btn-primary btn-block">Corporate</a>
                  <a href="/intern/apply/law_res" class=" btn btn-primary btn-block">Research</a>
                  <a href="/intern/apply/law_jud" class=" btn btn-primary btn-block">Judicial Internship</a>
                  <a href="/intern/apply/law_leg" class=" btn btn-primary btn-block">Legal Aid / Prison</a>
              </div>
          </div>
        
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>