{%load staticfiles%}

<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="text-center">
          <h3 class="modal-title title" id="mediaModalLabel">Media and Journalism</h3>
        </div>
             
      </div>
      <div class="modal-body">
          <div class="row text-center">
              <div class="col-md-12">
                  <a href="/intern/apply/med_ele" class=" btn btn-primary btn-block">Electronic Media</a>
                  <a href="/intern/apply/med_onl" class=" btn btn-primary btn-block">Online Media</a>
                  <a href="/intern/apply/med_pri" class=" btn btn-primary btn-block">Print media</a>
                  
              </div>
          </div>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>