{%extends 'intern/skeleton.html' %}
{% load staticfiles%}
{% block body%}

<body style="background-image: url('{%static 'intern/assets/img/container.jpg'%}') !important; background-size: cover; background-position: top center;">
    <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
        {% include 'intern/navbar.html' %}
     </nav>
    <div class="wrapper">
	<div class="header-sm">

	</div>
	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	<div class="main main-raised">
		<div class="container">
            <div class="section text-center">
                {%block notice%}
                <p class="text-success">You are registered successfully.</p><br />
                <p class="text-info">We have sent you a activation email to {{user.email}}. Check that and activate your account to continue.</p>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <a href="https://gmail.com" class="btn btn-primary">Continue</a>
                    
                </div>
                {%endblock%}
            </div>
			<!-- here you can add your content -->
			
		</div>
	</div>
</div>
    <footer class="footer">
		        {% include 'intern/footer.html'%}
		    </footer>
</body>

{%endblock%}