{%load staticfiles%}

<div class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-labelledby="policyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="text-center">
          <h3 class="modal-title title" id="policyModalLabel">Policy Research</h3>
        </div>
             
      </div>
      <div class="modal-body">
          <div class="row text-center">
              <div class="col-md-12">
                  <a href="/intern/apply/pol_nat" class=" btn btn-primary btn-block">National Security</a>
                  <a href="/intern/apply/pol_wom" class=" btn btn-primary btn-block">Women and Gender Studies</a>
                  <a href="/intern/apply/pol_int" class=" btn btn-primary btn-block">International Relations</a>
                  <a href="/intern/apply/pol_ind" class=" btn btn-primary btn-block">Indian Freedom Movement</a>
                  <a href="/intern/apply/pol_lan" class=" btn btn-primary btn-block">Language and Ethnic Studies</a>
                  <a href="/intern/apply/pol_edu" class=" btn btn-primary btn-block">Education Policy</a>
              </div>
          </div>
        
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>