{%load staticfiles%}

<div class="modal fade" id="scienceModal" tabindex="-1" role="dialog" aria-labelledby="scienceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="text-center">
          <h3 class="modal-title title" id="scienceModalLabel">Science &amp; Technology</h3>
        </div>
             
      </div>
      <div class="modal-body">
          <div class="row text-center">
              <div class="col-md-12 dropdown">
                  <a href="#" class=" btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Academic        <b class="caret"></b></a>
                  <ul class="dropdown-menu">
		                <li><a href="/intern/apply/sta_phy">Physics</a></li>
		                <li><a href="/intern/apply/sta_che">Chemistry</a></li>
                      <li><a href="/intern/apply/sta_bio">Biology</a></li>
                      <li><a href="/intern/apply/sta_med">Medical</a></li>
                      <li><a href="/intern/apply/sta_eng">Engineering</a></li>
                   </ul>
                  </div>
              <div class="col-md-12 dropdown">
                  <a href="#" class=" btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Industrial       <b class="caret"></b></a>
                  <ul class="dropdown-menu">
		                <li><a href="/intern/apply/sti_phy">Physics</a></li>
		                <li><a href="/intern/apply/sti_che">Chemistry</a></li>
                      <li><a href="/intern/apply/sti_bio">Biology</a></li>

                      <li><a href="/intern/apply/sti_med">Medical</a></li>
                      <li><a href="/intern/apply/sti_eng">Engineering</a></li>
                   </ul>
                  
              </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>