{%load staticfiles%}
<div class="modal fade" id="socialModal" tabindex="-1" role="dialog" aria-labelledby="socialModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="text-center">
          <h3 class="modal-title title" id="socialModalLabel">Social Work</h3>
        </div>             
      </div>
      <div class="modal-body">
          <div class="row text-center">
              <div class="col-md-12">
                  <a href="/intern/apply/soc_soc" class=" btn btn-primary btn-block">Social Healthcare</a>
                  <a href="/intern/apply/soc_slu" class=" btn btn-primary btn-block">Slum Studies</a>
                  <a href="/intern/apply/soc_tra" class=" btn btn-primary btn-block">Transgender and Red light area studies</a>
                  <a href="/intern/apply/soc_ref" class=" btn btn-primary btn-block">Refugee /Human Rights Studies</a>
                  <a href="/intern/apply/soc_vil" class=" btn btn-primary btn-block">Village Development Programme</a>
                  <a href="/intern/apply/soc_orp" class=" btn btn-primary btn-block">Orphanages and old age homes</a>
              </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>