{%extends 'intern/skeleton.html' %}
{% load staticfiles%}
{% block body%}

<body>
    <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
        {% include 'intern/navbar.html' %}
     </nav>
    <div class="wrapper">
	<div class="header">

	</div>
	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	<div class="main main-raised">
		<div class="container">
            <div class="section text-center">
                {%block notice%}
                <p class="text-success">You are registered successfully.</p><br />
                <p class="text-info">We have sent you a confirmation email. Check that and confirm to continue.</p>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <a href="https://gmail.com" class="btn btn-primary">Continue</a>
                    
                </div>
                {%endblock%}
            </div>
			<!-- here you can add your content -->
			
		</div>
	</div>
</div>
</body>

{%endblock%}