{%extends 'skeleton.html'%}

{%load static%}

{%block body%}
<body class="login-page sidebar-collapse">
 {%include 'nav.html'%}
  <div class="page-header header-filter" style="background-image: url('{%static 'assets/img/img_404_back.jpg'%}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form id="login-form" class="form" method="post" action="{%url 'account:update_email'%}">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Update Email Address</h4>
              </div>
              <div class="card-body">
                  {%if form.errors%}
                     <div class="row">
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-danger">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                              {{form.errors}}
                            </div>
                          </div>
                      </div>
                  </div>
                  {%endif%}
                  {%if messages%}
                     <div class="row">
                         {%for message in messages%}
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-{{message.tags}}">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                              <b></b> {{message}}
                            </div>
                          </div>
                      </div>
                         {%endfor%}
                  </div>
                  {%endif%}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">alternate_email</i>
                    </span>
                  </div>
                  <input id="field1" type="email" class="form-control" placeholder="Enter Valid Email" name="field1" value="{{user.email}}" required>
                </div>
              
              </div>
                {%csrf_token%}
              <div class="footer text-center">
                <button type="submit" class="btn btn-primary btn-link btn-lg">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {%include 'footer.html'%}
  </div>
  <!--   Core JS Files   -->
  {%include 'scripts.html'%}
</body>
{%endblock%}