<ul class="nav nav-pills nav-pills-rose flex-column">
                  <li class="nav-item"><a class="nav-link {{profile_pill}}" href="{% url 'account:profile' %}">Profile</a></li>
                  <li class="nav-item"><a class="nav-link {{activities_pill}}" href="{% url 'account:activities' %}" >My Activites</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'vimarsh18:participant_reg' %}">Vimarsh18 Participant Registration</a></li>  
                  <li class="nav-item"><a class="nav-link" href="{% url 'vimarsh18:volunteer_reg' %}">Vimarsh18 Volunteer Registration</a></li>
              </ul>