{%extends 'skeleton.html'%}

{%load static%}

{%block body%}
<body>
 {%include 'nav.html'%}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('{%static 'assets/img/img_404_back.jpg'%}'); background-size: cover; background-position: top center; height: 50vh !important;">
        <div class="container">
      <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="brand text-center">
                <h1>YUVA</h1>
                  {%if request.user.profile.name%}
                   <h3 class="title text-center">Hi {{request.user.profile.name}}</h3>
                  {% else %}
                <h3 class="title text-center">Hi {{request.user.username}}</h3>
                  {%endif%}
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="main main-raised">

        <div class="container">
          <div class="section text-center">
            <h3 class="title">Introduce Yourself</h3>
              {%if form.errors%}
                     <div class="row">
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-danger">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                                
                              <b>Error</b> {{form.errors}}<br/>
                                
                            </div>
                          </div>
                      </div>
                  </div>
                  {%endif%}
                  {%if messages%}
                     <div class="row">
                         {%for message in messages%}
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-{{message.tags}}">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                              <b></b> {{message}}
                            </div>
                          </div>
                      </div>
                         {%endfor%}
                  </div>
                  {%endif%}
            <div class="row">
                <div class="col-md-3 ml-auto mr-auto">
                {% include 'profile-pills.html' %}
                </div>
                <div class="col-md-8 col-sm-12 ml-auto mr-auto">
                    <form method="post">
                        <div class="form-group">
                        <div class="input-group">
                               <div class="input-group-prepend">
                                    <span class="input-group-text">

                                      Username
                                    </span>
                                  </div>
                            <input class="form-control" type="text" placeholder="Username" value = "{{user.username}}"readonly>
                        </div>
                      </div>
                        <div class="form-group">
                        <div class="input-group">
                               <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                  </div>
                            <input class="form-control" type="text" placeholder="email" value = "{{user.email}}"readonly>
                            <a href="{%url 'account:update_email'%}" class="btn btn-primary btn-sm btn-link ">Change Email</a>
                        </div>
                            
                      </div>
                        
                      <div class="form-group">
                        {{form.name}}
                      </div>
                        <div class="form-group">
                        {{form.phone}}
                      </div>
                      <div class="form-group">
                        {{form.college}}
                      </div>
                        {%csrf_token%}
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                
                <div class="col-md-12 ml-auto mr-auto border border-info rounded">
                    <h4 class="title text-info">Credentials' Management</h4>
                    <div class="row">
                        <div class="col-md-4 ml-auto mr-auto">
                            <a class="btn btn-info btn-block btn-round btn-sm btn-raised" href="{% url 'account:change_password'%}">Change Password</a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        {% if facebook_login %}
                        <div class="col-md-4 offset-md-4">
                        <p class="text-center text-info">Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_loginextra_data.id }}</a> through Facebook.</p>
                        </div>
                        <div class="col-md-4"></div>
                        {% if can_disconnect %}
                        <div class="col-md-4 offset-md-4">
                          <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                            {% csrf_token %}
                            <button class="btn btn-warning btn-sm btn-block" type="submit">Disconnect from Facebook</button>
                          </form>
                        </div>
                        <div class="col-md-4"></div>
                        {% else %}
                        <div class="col-md-4 offset-md-4 ">
                        <button class="btn btn-danger btn-sm btn-block" type="button" disabled>Disconnect from Facebook</button>
                        <p class="text-danger">You must <a href="{% url 'account:change_password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
                        </div>
                        <div class="col-md-4"></div>
                        {% endif %}
                      {% else %}
                        <div class="col-md-4 offset-md-4 ">
                        <a href="{% url 'social:begin' 'facebook' %}">Connect to Facebook (Must be same email address as your account)</a>
                        </div>
                        <div class="col-md-4"></div>
                      {% endif %}
                    </div>
                     <br />
                    <div class="row">
                        {% if google_login %}
                        <div class="col-md-4 offset-md-4">
                        <p class="text-center text-info">Connected to Google.</p>
                        </div>
                        <div class="col-md-4"></div>
                        {% if can_disconnect %}
                        <div class="col-md-4 offset-md-4">
                          <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
                            {% csrf_token %}
                            <button class="btn btn-warning btn-sm btn-block" type="submit">Disconnect from Google</button>
                          </form>
                        </div>
                        <div class="col-md-4"></div>
                        {% else %}
                        <div class="col-md-4 offset-md-4 ">
                        <button class="btn btn-danger btn-sm btn-block" type="button" disabled>Disconnect from Google </button>
                        <p class="text-danger">You must <a href="{% url 'account:change_password' %}">define a password</a> for your account before disconnecting from Google.</p>
                        </div>
                        <div class="col-md-4"></div>
                        {% endif %}
                      {% else %}
                        <div class="col-md-4 offset-md-4 ">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">Connect to Google (Must be same email address as your account)</a>
                        </div>
                        <div class="col-md-4"></div>
                      {% endif %}
                    </div>
                </div>
                  
            </div>
          </div>
        </div>
      </div>
    {%include 'footer.html'%}
  <!--   Core JS Files   -->
  {%include 'scripts.html'%}
    {%block scripts%}

<script type="text/javascript">
     $(document).ready(function() {
$(".js-example-basic-single").select2();
});
</script>
{%endblock%}
</body>
{%endblock%}

