/yuvacentral_env
yuvacentral.sock
/yuvacentral/__pycache__
/yuvacentral/aws_key.py
/yuvacentral/*/static
/yuvacentral/*/media
/vimarsh18/aws_key.py
/vimarsh18/new_zip.zip
/vimarsh18/static/certificates
