{%extends 'skeleton.html'%}

{%load static%}

{%block body%}
<body class="login-page sidebar-collapse">
 {%include 'nav.html'%}
  <div class="page-header header-filter" style="background-image: url('{%static 'assets/img/img_404_back.jpg'%}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card  text-center" style="background-color : rgba(0, 0, 0, 0.4) !important;">
              <div class="card-body">
                  <h3 class="card-title text-white">Oh Snap...</h3>
                  <p class="card-text text-white">Information you are looking for is destroyed by blackhole.</p>
                  <a href="{%url 'landing:home'%}" class="btn btn-primary">Go Home</a>
              </div>
          </div>
        </div>
      </div>
    </div>
    {%include 'footer.html'%}
  </div>
  <!--   Core JS Files   -->
  {%include 'scripts.html'%}
</body>
{%endblock%}