{%extends 'skeleton.html'%}

{%load static%}

{%block body%}
<body class="login-page sidebar-collapse">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPJL8QH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
 {%include 'nav.html'%}
  <div class="page-header header-filter" style="background-image: url('{%static 'assets/img/img_404_back.jpg'%}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form id="login-form" class="form" method="post" action="{%url 'landing:login'%}">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Login</h4>
              </div>
              <div class="card-body">
                  {%if form.errors%}
                     <div class="row">
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-danger">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                              <b>Error</b> Username Password didn't match. Try Again...
                            </div>
                          </div>
                      </div>
                  </div>
                  {%endif%}
                  {%if messages%}
                     <div class="row">
                         {%for message in messages%}
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-{{message.tags}}">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                              <b></b> {{message}}
                            </div>
                          </div>
                      </div>
                         {%endfor%}
                  </div>
                  {%endif%}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input id="id_username" type="text" class="form-control" placeholder="Username" name="username" required>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input id="id_password" type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
              </div>
                {%csrf_token%}
              <div class="footer text-center">
                  <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn btn-primary btn-link btn-lg">Login</button>
                  <a href="{%url 'account:forgot_password'%}" class="btn btn-primary btn-link btn-lg">Forgot Password</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {%include 'footer.html'%}
  </div>
  <!--   Core JS Files   -->
  {%include 'scripts.html'%}
</body>
{%endblock%}