.navbar-brand>img {
    height: 100%;
    /*padding: 15px;*/
    width: auto;
}

.btn-yuva {
    color: #ffffff;
    background-color: #f69302; 
    border-color: #2196f3;
    box-shadow: none;
}

    .btn-yuva:hover {
        color: #ffffff;
        background-color: #e75621;
        border-color: #0c7cd5;
    }

    .btn-yuva:focus,
    .btn-yuva.focus {
        box-shadow: none, 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
    }
.text-custom {
    color: #174752 !important;
}

.text-yuva {
    color: #e75621 !important;
}

.card-header-collapse {
    /*padding: 0.75rem 1.25rem;*/
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    
}

    .card-header-collapse:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card-header-collapse + .list-group .list-group-item:first-child {
        border-top: 0;
    }

.card .card-header-collapse {
    border-radius: 3px;
    /*padding: 1rem 15px;*/
    /*margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;*/
    /*border: 2px;*/
    /*background: linear-gradient(60deg, #eee, #bdbdbd);*/
    
}

.card .card-header-collapse2:not([class*="header-"]) {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}