{%extends 'skeleton.html'%}

{%load static%}

{%block body%}
<body>
 {%include 'nav.html'%}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('{%static 'assets/img/img_404_back.jpg'%}'); background-size: cover; background-position: top center; height: 50vh !important;">
        <div class="container">
      <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="brand text-center">
                <h1>VIMARSH - 18</h1>
                  {%if request.user.profile.name%}
                   <h3 class="title text-center">Hi {{request.user.profile.name}}</h3>
                  {% else %}
                <h3 class="title text-center">Hi {{request.user.username}}</h3>
                  {%endif%}
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="main main-raised">

        <div class="container">
          <div class="section text-center">
            <h3 class="title">Change Payment Method</h3>
              {%if form.errors%}
                     <div class="row">
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-danger">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                                
                              <b>Error</b> {{form.errors}}<br/>
                                
                            </div>
                          </div>
                      </div>
                  </div>
                  {%endif%}
                  {%if messages%}
                     <div class="row">
                         {%for message in messages%}
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-{{message.tags}}">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                              <b></b> {{message}}
                            </div>
                          </div>
                      </div>
                         {%endfor%}
                  </div>
                  {%endif%}
            <div class="row">
                <div class="col-md-8 col-sm-12 ml-auto mr-auto">
                    <p class="h4 text-primary">
                        Your Current Payment method is</p> <p class="h4 text-danger"><b>"{{cp}}"</b> 
                    </p>
                    <form method="post">
                      <div class="form-group">
                        {{form.pay_choice}}
                      </div>
                       
                        {%csrf_token%}
                      <button type="submit" class="btn btn-primary">Change</button>
                      <a class="btn btn-secondary" href="{% url 'account:activities'%}">Cancel</a>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    {%include 'footer.html'%}
  <!--   Core JS Files   -->
  {%include 'scripts.html'%}
    {%block scripts%}

<script type="text/javascript">
     $(document).ready(function() {
         $(".js-example-basic-single").select2();
         $('.js-example-basic-multiple').select2({
			closeOnSelect : false,
			placeholder : "Select Area of Interest",
			allowHtml: true,
			allowClear: true,
			tags: true 
		});
});
</script>
{%endblock%}
</body>
{%endblock%}