{%extends 'skeleton.html'%}

{%load static%}

{%block body%}
<body>
 {%include 'nav.html'%}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('{%static 'assets/img/img_404_back.jpg'%}'); background-size: cover; background-position: top center; height: 50vh !important;">
        <div class="container">
      <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="brand text-center">
                <h1>VIMARSH - 18</h1>
                  
                <h3 class="title text-center">Feedback</h3>
                 
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="main main-raised">

        <div class="container">
          <div class="section text-center">
            <h3 class="title">Feedback form</h3>
              {%if form.errors%}
                     <div class="row text-left">
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-danger">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                                
                              <b>Error</b> {{form.errors}}<br/>
                                
                            </div>
                          </div>
                      </div>
                  </div>
                  {%endif%}
                  {%if messages%}
                     <div class="row">
                         {%for message in messages%}
                      <div class="col-sm-12 mt-1 ml-auto mr-auto">
                          <div class="alert alert-{{message.tags}}">
                            <div class="container">
                              <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                              </div>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                              </button>
                              <b></b> {{message}}
                            </div>
                          </div>
                      </div>
                         {%endfor%}
                  </div>
                  {%endif%}
            <div class="row text-left">
                <div class="col-md-8 col-sm-12 ml-auto mr-auto">
                    <form method="post">
                      <div class="form-group">
                        <label>Registration Number</label>
                          {{form.reg_no}}
                          <small class="form-text text-muted">Enter Vimarsh-18 Reg. No. (VIM18-----)</small>
                      </div>
                      <div class="form-group">
                          <label>Usefulness of content of sessions</label>
                        {{form.content_use}}
                          <small class="form-text text-muted">Rate from 1 to 10, where 10 represent very useful and 1 represent not at all</small>
                      </div>
                        <div class="form-group">
                            <label>Satisfaction with arrangements and administration</label>
                        {{form.admin_satisfaction}}
                            <small class="form-text text-muted">Rate from 1 to 10, where 10 represent very satisfied and 1 represent not satisfied</small>
                      </div>
                    <div class="form-group">
                        {{form.institution}}
                      </div>
                    <div class="form-group">
                       <label>Overall satisfaction</label>
                        {{form.overall_satisfaction}}
                            <small class="form-text text-muted">Rate from 1 to 10, where 10 represent very satisfied and 1 represent not satisfied</small>
                      </div>
                        <div class="form-group">
                            <label>
                                Please let us know if you have any suggestion or comment :
                            </label>
                            {{form.comment}}
                        </div>
                        {%csrf_token%}
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    {%include 'footer.html'%}
  <!--   Core JS Files   -->
  {%include 'scripts.html'%}
    {%block scripts%}

<script type="text/javascript">
     $(document).ready(function() {
         $(".js-example-basic-single").select2();
         
});
</script>
{%endblock%}
</body>
{%endblock%}