<p>Dear <strong>{{name}}</strong>,</p>
<p>Thank you for registering for Vimarsh 18.<br />
Further Intructions, if any, will be conveyed to you by phone or email.</p><br />

<p><strong>Program Information:</strong><br /></p>
<p>Program Name : Vimarsh<br />
Date : 22-23-24 October<br />
Venue : Ambedkar International Center, 15 Janpath, New Delhi<br />
</p>
			
<p><strong>Registration Information : </strong><br /></p>
<p>Registration No. : <strong>{{reg_no}}</strong><br />
Name : {{name}}<br />
Phone No : {{phone}}<br />
<p>
 
Hope to see you.
</p>


<p>If you have any questions regarding your registration or any other query, feel free to contact us at<br />
contact@yuva.net.in</p><br />

<p>Regards YUVA</p><br />
<p>(Do not reply to this mail. Its an unmonitored mailbox)</p>