<p>Dear <strong>{{name}}</strong>,</p>
<p>Thank you for registering for Vimarsh 18.<br />
Further Intructions, if any, will be conveyed to you by phone or email.</p><br />

<p><strong>Program Information:</strong><br /></p>
<p>Program Name : Vimarsh<br />
Date : 22-23-24 October<br />
Venue : Ambedkar International Center, 15 Janpath, New Delhi<br />
</p>
			
<p><strong>Registration Information : </strong><br /></p>
<p>Registration No. : <strong>{{reg_no}}</strong><br />
Name : {{name}}<br />
Phone No : {{phone}}<br />
Registration Fee : Rs. 150<br />
You can pay your registration fee online <b><u><a href="https://www.payumoney.com/paybypayumoney/#/3627569A7B7F8520CC840B9947D94BCA">Here</a></u></b>.<br />
You can also pay your registration fee in your college and confirm reciept <b><u><a href="https://yuva.net.in/vimarsh18/pay-reciept/">Here</a></u></b> if selected Pay/Paid at College as payment mode.<br />
    If not then you change your payment mode <b><u><a href="https://yuva.net.in/vimarsh18/change-payment/">Here</a></u></b> and then pay.<br />
Hope to see you.
</p>


<p>If you have any questions regarding your registration or any other query, feel free to contact us at<br />
contact@yuva.net.in</p><br />

<p>Regards YUVA</p><br />
<p>(Do not reply to this mail. Its an unmonitored mailbox)</p>