<p>Dear <strong>{{name}}</strong>,</p>
<p>Thank you for volunteering.<br />
Your registration for volunteering is done successfuly.<br /><br />
    Further Intructions will be conveyed to you by phone or email.</p><br />

<p><strong>Program Information:</strong><br /></p>
<p>Program Name : Vimarsh<br />
Date : 26-27-28 October<br />
</p>
			
<p><strong>Volunteer Registration Information : </strong><br /></p>
<p>Registration No. : <strong>{{reg_no}}</strong><br />
Name : {{name}}<br />
Phone No : {{phone}}<br />
College : {{college}}<br />
Course : {{course}}<br />
Branch : {{branch}}<br />
Year : {{year}}<br />
Areas of Interest : {{interest}}</p><br />


<p>If you have any questions regarding your registration or any other query, feel free to contact us at<br />
vimarsh@yuva.net.in</p><br />

<p>Regards YUVA</p><br />
<p>(Do not reply to this mail. Its an unmonitored mailbox)</p>