{%extends 'manage/dash_home.html'%}

{%block body%}

<div class="container-fluid">
    <div class="row">
        
        {%for message in messages%}
        <div class="col-md-10 col-sm-12 mr-auto ml-auto">
        
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
       
            </div>
        {%endfor%}

       <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5">{{tc}} Total Events : {{lc}} Live &amp; {{oc}} Offline</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'dashboard:list_upcoming_events'%}">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
         <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5">Total Users : {{uc}} <br />
                    Users with email confirmed : {{uec}} <br />
                    Users with complete profile : {{upc}}<br />
                    User with admin privilege : {{umc}}</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'dashboard:nplist'%}">
                  <span class="float-left">View Non Participant or Volunteer</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
         <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-book"></i>
                  </div>
                  <div class="mr-5">Total Participants : {{participants}} <br />
                    Participants | Pay Online : {{participants_pay_online}} <br />
                    Participants | Pay at College : {{participants_pay_college}}<br />
                    Participants | Pay at Venue : {{participants_pay_venue}}</div>
                </div>
              </div>
            </div>
         <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-rupee-sign"></i>
                  </div>
                  <div class="mr-5">Participants Paid : {{participants_paid}} <br />
                    Participants Paid | Pay Online : {{participants_pay_online_paid}} <br />
                    Participants Paid | Pay at College : {{participants_pay_college_paid}}<br />
                    Participants Paid | Pay at Venue : {{participants_pay_venue_paid}}</div>
                </div>
              </div>
            </div>
        <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-info o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-money-bill-alt"></i>
                  </div>
                  <div class="mr-5"> 
                    Reciepts Generated : {{reciepts_generated}} <br />
                    Reciepts Used : {{reciepts_used }} <br />
                </div>
              </div>
            </div>
    </div>
</div>

{%endblock%}